@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment  successfull..!!</h1>
        Order number : @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Payment has been paid Successfully..!!
        <a asp-area="admin" asp-controller="Order" asp-action="Details" asp-route-id="@Model" class="btn btn-primary">Back To Order Details</a>
    </div>
</div>